.Output {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OutputBox {
    /* width:50vw; */
    /* height:50vh; */
    width: 960px;
    height: 540px;
    background-color: rgba(44, 44, 44)
}