.App {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Input {
    width: 960px;
    height: 540px;
    background-color: rgb(44, 44, 44)
}

.video {
    width:35vw;
    max-width: 400px;
}

.Edit {
    background-color: rgb(44, 44, 44);
}

.Output {
    background-color: rgb(44, 44, 44);
}